body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: var(--background);
}

.login-container {
  display: flex;
  width: 100%;
  height: calc(100dvh - 70px - 50px);
  background-color: #051f20;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.login-left {
  flex: 1;
  background: #0f0e17;
  color: #f2f7f5;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 40px;
  text-align: center;
}

.login-left .brand-logo {
  font-size: 36px;
  font-weight: bold;
  color: #faae2b;
  margin-bottom: 20px;
  /* border: 1px solid #faae2b; */
  width: 100%;
}

.login-left .brand-logo .logo-login {
  /* border: 1px solid #fff; */
  border-radius: 50%;
  padding: 10px;
  height: 60px;
}

.login-left h1 {
  margin-bottom: 10px;
  font-size: 28px;
}

.login-left p {
  margin-bottom: 10px;
  font-size: 16px;
  opacity: 0.9;
}

.testimonial {
  background-color: #00332c;
  padding: 20px;
  border-radius: 12px;
  width: 80%;
}

.testimonial .testimonial-author {
  /* border: 1px solid #faae2b; */
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
  gap: 10px;
}

.testimonial .testimonial-author img {
  border-radius: 50%;
  height: 40px;
  width: 40px;
  object-fit: cover;
}

.testimonial .testimonial-author .author-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.testimonial .testimonial-author .author-details .author-name {
  font-size: 16px;
  font-weight: bold;
}

.testimonial .testimonial-author .author-details .author-role {
  font-size: 14px;
  opacity: 0.8;
}

/* Right Side */
.login-right {
  flex: 1;
  background-color: #f2f7f5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
}

.login-right h2 {
  font-size: 26px;
  margin-bottom: 20px;
}

.welcome-message {
  text-align: center;
  color: var(--paragraph);
  margin-bottom: 15px;
}

.terms {
  display: flex;
  gap: 8px;
  align-items: center;
  margin-bottom: 15px;
}

.terms label a {
  color: #00473e;
  text-decoration: underline;
}

.error-message {
  color: #fa5246;
  background-color: #ffe6e6;
  padding: 10px;
  border-radius: 8px;
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
}

.connect-wallet-btn {
  width: 100%;
  background-color: #faae2b;
  color: #00473e;
  padding: 12px 0;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.connect-wallet-btn:hover {
  background-color: #fa5246;
  color: #f2f7f5;
}

.connect-wallet-btn.loading {
  background-color: #ffa8ba;
  cursor: not-allowed;
}

.security-info {
  margin-top: 15px;
  text-align: center;
  color: var(--paragraph);
  font-weight: bold;
}

.support-links {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 15px;
}

.support-links a {
  color: var(--highlight);
  text-decoration: none;
  font-weight: bold;
}

.login-footer,
.signup-footer {
  margin-top: 20px;
  font-size: 14px;
  text-align: center;
}

.link-text {
  color: var(--highlight);
  cursor: pointer;
  /* text-decoration: underline; */
  font-weight: bold;
  transition: color 0.2s ease;
}

.link-text:hover {
  color: var(--button);
}
